<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/home.css">
    <script src="/script/home.js" defer></script>
</head>
<body>
    <div id="header">
        <div class="header-logo">
            <img class="header-logo-image" src="/images/pizza.png">
            <p class="header-logo-text">TUCK EATS</p>
        </div>
        <div class="header-search">
            <input id="header-search-bar" placeholder="Search"></input>
            <img id="header-search-button" src="/images/search-button.png">
        </div>
        <div class="header-buttons">
            <div id="header-login">Login</div>
            <div id="header-signup">Sign up</div>
        </div>
    </div>
    <!-- <div id="footer">
        <p class="footer-text">Ordering now made easier with TUCK EATS</p>
    </div> -->
    <div class="banner">
        <div class="banner-text">ORDER ANY FOOD/DRINK FROM ANY RESTAURANT 
            IN GIKI</div>
        <img class="banner-image" src="/images/giki-logo.png">
    </div>
    <h2 style="text-align: center;">All Restaurants</h2>
    <div class="restaurant-container">
        <div id="restaurant-grid"></div>
    </div>
</body>
</html>