<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div id="header">
        <div class="header-logo">
            <img class="header-logo-image" src="/images/pizza.png">
            <p class="header-logo-text">TUCK EATS</p>
        </div>
        <div class="header-search">
            <input id="header-search-bar" placeholder="Search"></input>
            <img id="header-search-button" src="/images/search-button.png">
        </div>
        <div class="header-buttons">
            <div id="header-login">Login</div>
            <div id="header-signup">Sign up</div>
        </div>
    </div>
    <div id="footer">
        <p class="footer-text">Ordering now made easier with TUCK EATS</p>
    </div>
    testing index page.
</body>
</html>