<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/register.css">
    <script type="module" src="/script/register.js" defer></script> 
</head>
<body>
    <div id="header">
        <div class="header-logo">
            <img class="header-logo-image" src="/images/pizza.png">
            <p class="header-logo-text">TUCK EATS</p>
        </div>
        <div class="header-search">
            <input id="header-search-bar" placeholder="Search"></input>
            <img id="header-search-button" src="/images/search-button.png">
        </div>
        <div class="header-buttons">
            <div id="header-login">Login</div>
            <div id="header-signup">Sign up</div>
        </div>
`   </div>
    <div id="background">
        <div class="background-left">
            <img class="pizza" src="/images/pizza.png" style="left: 3.4vw; 
                top: 7.5vh;">
            <img class="pizza" src="/images/pizza.png" style="left: 3.4vw; 
                top: 26.182vh; transform: scaleX(-1);">
            <img class="pizza" src="/images/pizza.png" style="left: 3.4vw; 
                top: 48.04vh;">
            <img class="pizza" src="/images/pizza.png" style="left: 3.4vw; 
                top: 66.7vh; transform: scaleX(-1);">
        </div>
        <div class="background-right">
            <img class="pizza" src="/images/pizza.png" style="left: 29.9vw; 
                top: 7.5vh;">
            <img class="pizza" src="/images/pizza.png" style="left: 29.9vw; 
                top: 26.182vh; transform: scaleX(-1);">
            <img class="pizza" src="/images/pizza.png" style="left: 29.9vw; 
                top: 48.04vh;">
            <img class="pizza" src="/images/pizza.png" style="left: 29.9vw; 
                top: 66.7vh; transform: scaleX(-1);">
        </div>
    </div>
    <div id="foreground">
        <div class="register-box"> 
            <div class="register-box-text">Sign Up</div>
            <div id="register-box-fields">
                <div class="spacer">
                    <div id="invalid-name-box" class="invalid-input"
                        style="margin-bottom: 1vh"></div>
                    <div id="name-box-fields">
                        <input id="field-firstname" class="field" 
                            placeholder="First Name" type="text">
                        <input id="field-lastname" class="field" 
                            placeholder="Last Name" type="text">
                    </div>
                </div>
                <div class="spacer" style="margin-top: 1.8vh">
                    <div id="invalid-date-box" class="invalid-input" 
                        style="margin-bottom: 1vh"></div>
                    <div id="date-box-fields">
                        <input id="field-day" class="field" placeholder="DD">
                        <input id="field-month" class="field" placeholder="MM">
                        <input id="field-year" class="field" placeholder="YYYY">
                    </div>
                </div>
                <div id="other-box-fields">
                    <div id="invalid-username-box" class="invalid-input"></div>
                    <input id="field-username" class="field" 
                        placeholder="Username">
                    <div id="invalid-email-box" class="invalid-input"></div>
                    <input id="field-email" class="field" placeholder="Email">
                    <div id="invalid-password-box" class="invalid-input"></div>
                    <input id="field-password" class="field" 
                        placeholder="Password" type="password">
                </div>
                <a id="login" href="/login/">already have an account?</a>
            </div>
            <div id="button-register">Register</div> 
        </div>
    </div>
</body>
</html>